@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@500;700&display=swap";
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (width <= 768px) {
  .services-section {
    padding: 22px 30px;
  }
}

@media (width >= 768px) {
  .services-section {
    padding: 45px 80px;
  }
}

.services-section .services-title {
  color: #3fa6bc;
  text-align: center;
  margin-bottom: 45px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

@media (width <= 768px) {
  .services-section .services-title {
    font-size: 32px;
  }
}

@media (width >= 768px) {
  .services-section .services-title {
    font-size: 64px;
  }
}

@media (width <= 768px) {
  .services-section .services-title {
    margin-bottom: 22px;
  }
}

.services-section .services-row {
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  display: flex;
}

@media (width <= 768px) {
  .services-section .services-row {
    flex-direction: column;
    gap: 15px;
  }

  .services-section .col-4 {
    max-width: 100%;
  }
}

.services-section .col-4 .service-item {
  background-color: #fff;
  border: 1px solid #8cc5d2;
  border-radius: 25px;
  align-items: flex-start;
  gap: 28px;
  padding: 25px;
  transition: transform .3s, box-shadow .3s;
  display: flex;
}

@media (width >= 768px) {
  .services-section .col-4 .service-item {
    width: 400px;
    height: 210px;
  }
}

@media (width <= 768px) {
  .services-section .col-4 .service-item {
    gap: 22px;
    padding: 15px;
  }
}

.services-section .col-4 .service-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px #00000026;
}

@media (width >= 768px) {
  .services-section .col-4 .service-item .service-icon {
    width: 50px;
    height: 50px;
  }
}

@media (width <= 768px) {
  .services-section .col-4 .service-item .service-icon {
    width: 35px;
    height: 35px;
  }
}

.services-section .col-4 .service-item .service-content {
  flex-direction: column;
  margin-top: 13px;
  display: flex;
}

@media (width <= 768px) {
  .services-section .col-4 .service-item .service-content {
    margin-top: 7px;
  }
}

.services-section .col-4 .service-item .service-content .service-title {
  color: #000;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

@media (width <= 768px) {
  .services-section .col-4 .service-item .service-content .service-title {
    font-size: 17px;
  }
}

@media (width >= 768px) {
  .services-section .col-4 .service-item .service-content .service-title {
    font-size: 20px;
  }
}

@media (width <= 768px) {
  .services-section .col-4 .service-item .service-content .service-title {
    margin-bottom: 7px;
  }
}

.services-section .col-4 .service-item .service-content .service-description {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

@media (width <= 768px) {
  .services-section .col-4 .service-item .service-content .service-description {
    font-size: 13px;
  }
}

@media (width >= 768px) {
  .services-section .col-4 .service-item .service-content .service-description {
    font-size: 16px;
  }
}
/*# sourceMappingURL=services.css.map */
