@use 'vars' as *;
@use 'fonts' as *;
@use 'mixin' as *;
@use 'breakpoints' as *;
@use 'keyframes' as *;

.blog-section {
    @include adaptive-padding(45px, 22px, 80px, 16px); 

    .blog-title {
        @include font-size(33px, 65px, 700, "Montserrat", $blue); 
        margin-bottom: 45px;
        @include small {
            margin-bottom: 22px;
        }
        text-align: center;
    }

    .blog-row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 35px; 

        @include small {
            flex-direction: column;
            align-content: center;
            gap: 20px;
        }

        .blog-post {
            display: flex;
            flex-direction: row;
            background-color: $white;
            overflow: hidden;
            width: 100%;
            max-width: 100%;
            @include adaptive-size(1280px, 230px, 328px, 348px);

            @include small {
                flex-direction: column;
            }

            .blog-post_image {
                @include adaptive-image-size(438px, 328px); 
                border-radius: 20px;
                width: 100%;
                object-fit: cover;
            }

            .blog-post_content {
                @include adaptive-padding(0px, 10px, 35px, 0px);

                .blog-post_title {
                    @include font-size(17px, 32px, 600, "Montserrat", $black); 
                    margin-bottom: 20px;
                    @include small {
                        margin-bottom: 5px;
                    }
                }

                .blog-post_excerpt {
                    @include font-size(13px, 19px, 400, "Montserrat", $black); 
                    line-height: 1.5;
                    margin-bottom: 20px;
                    @include small {
                        margin-bottom: 6px;
                    }
                }

                .blog-post_link {
                    @include font-size(14px, 17px, 600, "Montserrat", $blue); 
                    cursor: pointer;
                    border-bottom: 1px solid $blue;
                    transition: color 0.3s ease;

                    &:hover {
                        color: darken($blue, 10%);
                    }
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}