@use 'vars' as *;
@use 'fonts' as *;
@use 'mixin' as *;
@use 'breakpoints' as *;
@use 'keyframes' as *;

.profile-section { 
    position: relative;
    display: flex;
    min-height: 100vh;
    @include small{
        min-height: 80vh;
    }
    background-color: $white;
    flex-wrap: wrap;
    align-content: flex-start;
    @include small {
        flex-direction: column;

        .history-dropdown {
            order: 1; 
        }

        .order-history_details {
            order: 2; 
        }
    }
    @include adaptive-padding(35px, 22px, 80px, 17px);

    .profile-header {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        background-color: $sky-blue;
        height: 100px;
        width: 100%;
        @include small {
            height: 59px;
        }
        @include adaptive-padding(26px, 15px, 35px, 16px);
        border-radius: 20px;

        .profile-title {
            @include font-size(24px, 42px, 700, "Montserrat", $white);
        }

        .logout-icon {
            width: 32px; 
            height: 32px;
            cursor: pointer;
            margin-left: 20px; 
        }
        
        .logout-icon:hover {
            opacity: 0.8;
        }
    }

    .visit-history {
        width: 100%;
        margin-top: 42px;
        padding: 0 35px;
        @include small {
            margin-top: 30px;
            padding: 0 18px;
        }

        .visit-history_title {
            display: block;
            @include font-size(18px, 35px, 600, "Montserrat", $black);
            margin-bottom: 20px;
            @include small {
                margin-bottom: 18px;
            }
        }

        .visit-history_content {
            display: flex;
            flex-wrap: wrap;

            .visit-history_filter {
                margin-right: 38px;

                .order-history_button {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $light-blue;
                
                    @include adaptive-size(306px, 81px, 288px, 60px);
                    @include font-size(16px, 20px, 600, "Montserrat", $white);
                    padding: 15px;
                    border: none;
                    cursor: pointer;
                    text-align: left;

                    .arrow {
                        display: flex;
                        align-items: center;
                
                        img {
                            @include adaptive-image-size(24px, 20px);
                            height: auto;
                        }

                        @include small {
                            transform: rotate(90deg);  
                        }
                    }

                    &::after {
                        margin-top: 36px;
                        content: '';
                        position: absolute;
                        right: -75px;  
                        top: 50%;  
                        transform: translateY(-50%) rotate(90deg);  
                        width: 150px;  
                        height: 1px;   
                        background-color: rgba(0, 0, 0, 0.2); 
                        @include small {
                            display: none;
                        }
                    } 
                }
            }

            .order-history_details {
                display: none;
                .order-history_title {
                    margin-top: 47px;
                    @include small {
                        margin-top: 20px; 
                    }
                    @include font-size(18px, 28px, 600, "Montserrat", $black);
                    margin-bottom: 20px;
                    @include small {
                        margin-bottom: 18px; 
                    }
                }

                .appointment-entry {
                    .service-type {
                        @include font-size(13px, 17px, 500, "Montserrat", $black);
                        margin-bottom: 10px;
                    }
    
                    .vet-name {
                        @include font-size(15px, 20px, 700, "Montserrat", $blue);
                        margin-bottom: 7px;
                    }
    
                    .appointment-info {
                        display: flex;
                        align-items: center;
                        gap: 57px;
                        margin-bottom: 30px;
    
                        .status-badge {
                            background-color: $light-blue;
                            @include font-size(11px, 13px, 500, "Montserrat", $white);
                            padding: 5px 10px;
                            border-radius: 20px;
                        }
    
                        .appointment-time {
                            display: flex;
                            align-items: center;
                            @include font-size(13px, 17px, 400, "Montserrat", $black);
                            white-space: nowrap;
    
                            .profile-clock_icon-dot {
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                background-color: $light-blue; 
                                border-radius: 50%;
                                margin-right: 8px; 
                            }
                        }
                    }
                }
            }

            .history-dropdown {
                margin-top: 42px;
                padding: 12px 0px 12px 240px;
                @include small {
                    padding: 12px 0px 12px 0px;
                    margin-top: 20px;
                }
                align-self: flex-start;

                select {
                    background-color: $light-blue;
                    @include adaptive-size(206px, 42px, 288px, 42px);
                    @include font-size(12px, 15px, 500, "Montserrat", $white);
                    padding: 10px;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    appearance: none; 
                    background-image: url('../public/icons/vector-arrow.svg'); 
                    background-repeat: no-repeat;
                    background-position: right 10px center; 
                    background-size: 12px; 

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 2px rgba(63, 166, 188, 0.4); 
                    }
                }

                option {
                    background-color: $light-blue; 
                    @include adaptive-size(206px, 42px, 288px, 42px);
                    @include font-size(12px, 15px, 500, "Montserrat", $white);
                    padding: 12px;

                    &:hover,
                    &:focus {
                        background-color: darken($light-blue, 10%);
                    }
                }
            }
        }
    }
} 