@use 'vars' as *;
@use 'fonts' as *;
@use 'mixin' as *;
@use 'breakpoints' as *;
@use 'keyframes' as *;

.vet-selection {
    @include adaptive-padding(40px, 22px, 80px, 17px);

    .vet-selection_header {
        margin-bottom: 40px;
        @include small {
            margin-bottom: 22px;
        }

        .vet-service_title {
            @include font-size(13px, 25px, 600, "Montserrat", $blue);
            margin-bottom: 40px;

            @include small {
                margin-bottom: 22px;
            }

        }

        .vet-selection_title {
            @include font-size(24px, 48px, 700, "Montserrat", $blue);
            text-align: center;
        }
    }

    .vet-list {
        display: flex;
        justify-content: space-between;
        @include small {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .vet-card {
            display: none; 
            flex-direction: column;
            align-items: center;
            @include small {
                max-width: 100%;
            }

            .vet-image {
                width: 100%;
                border-radius: 50%;
                @include adaptive-image-size(380px, 250px);
                margin-bottom: 30px;
                transition: transform 0.6s ease;
                cursor: pointer; 
                @include small {
                    margin-bottom: 15px;
                }

                &:hover {
                    transform: scale(1.1); 
                }
            }

            .vet-name, .vet-specialty {
                cursor: pointer; 
            }

            .vet-name {
                @include font-size(17px, 25px, 700, "Montserrat", $blue);
                margin-bottom: 10px;
                @include small {
                    margin-bottom: 5px;
                }
            }

            .vet-specialty {
                @include font-size(11px, 18px, 400, "Montserrat", $grey);
                text-align: center;
            }
        }
    }
}